<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>skiptools.xcode.kotlin</string>
	<key>CFBundleName</key>
	<string>Kotlin Xcode Plug-in</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
        <!-- Keep up-to-date from https://gist.github.com/minsko/9124ee24b9422fb8ea6b8d00815783ba -->
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>8A66E736-A720-4B3C-92F1-33D9962C69DF</string>
		<string>65C57D32-1E9B-44B8-8C04-A27BA7AAE2C4</string>
		<string>DA4FDFD8-C509-4D8B-8B55-84A7B66AE701</string>
		<string>E0A62D1F-3C18-4D74-BFE5-A4167D643966</string>
		<string>DFFB3951-EB0A-4C09-9DAC-5F2D28CC839C</string>
		<string>CA351AD8-3176-41CB-875C-42A05C7CDEC7</string>
		<string>DF11C142-1584-4A99-87AC-1925D5F5652A</string>
		<string>89CB8A86-8683-4928-AF66-11A6CE26A829</string>
		<string>C3998872-68CC-42C2-847C-B44D96AB2691</string>
		<string>B395D63E-9166-4CD6-9287-6889D507AD6A</string>
		<string>D7881182-AD00-4C36-A94D-F45FC9B0CF85</string>
                <!-- Xcode 13.0 (13A233) -->
		<string>8BAA96B4-5225-471B-B124-D32A349B8106</string>
                <!-- Xcode 13.1 (13A1030d) -->
		<string>8BAA96B4-5225-471B-B124-D32A349B8106</string>
                <!-- Xcode 13.2 beta (13C5066c) -->
		<string>57505DC8-7C02-42C5-9C44-13FD1CB92B41</string>
                <!-- Xcode 13.2 (13C90) -->
		<string>7A3A18B7-4C08-46F0-A96A-AB686D315DF0</string>
                <!-- Xcode 13.3 (13E113) -->
		<string>BD431FF2-C78B-4953-A3A9-0E42593C2D32</string>
                <!-- Xcode 13.4 (13F17a) -->
		<string>EFD92DF8-D0A2-4C92-B6E3-9B3CD7E8DC19</string>
                <!-- Xcode 14.0.1 (14A400) -->
		<string>AF3613FA-81D9-4A8B-8204-9912665677FA</string>
                <!-- Xcode 14.1 (14B47b) -->
		<string>B8A1C62D-289E-476A-B0CD-B16ADBDD8395</string>
                <!-- Xcode 14.2 (14C18) -->
		<string>C91F3560-00E7-4749-8E3F-4D83B1496051</string>
                <!-- Xcode 14.3 (14E222b) -->
		<string>EA3EACC9-A0BE-423D-9BA3-AA8B9FE68E38</string>
                <!-- Get new UUIDs with: defaults read /Applications/Xcode.app/Contents/Info DVTPlugInCompatibilityUUID -->
	</array>
	<key>XCPluginHasUI</key>
	<false/>
</dict>
</plist>
